.row
  .large-12.columns
    .panel
      = render "purchase_order_detail"

- unless @purchase_order.notes.empty?
  .row
    .large-12.columns
      - @purchase_order.notes.each do |note|
        .panel
          = simple_format note.content

.row
  .large-12.columns
    = link_to "Download As PDF", purchase_order_path(@purchase_order, format: :pdf), class: :button, onclick: "ga('send', 'event', 'All', 'Download PO');"
    = link_to "Back", :back



%script
  ga('send', 'event', 'All', 'Show PO');
