// Place all the styles related to the purchase_orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


textarea#purchase_order_delivery_address {
	height: 5em;
}

td {
	vertical-align:top;
}

#purchase_order {
	margin-top:10px;
}